.main-panel{
    position: absolute;
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel-container {
    height: 80vh;
    width: 100vw;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.25vw;
}

.left {
    background-color: #6d5743;
    height: 90vh; /* Full height */
    width: 70vw; /* 50% of the width of the parent container */
    max-width: 840px; /* Prevent it from getting too wide */
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.top-left {
    background-color: #8a4f19;
    height: 30vh;
    width: 100%; 
    max-width: 840px;
}

.bottom-left {
    background-color: #1b1610;
    height: 60vh;
    width: 100%; 
    max-width: 840px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
    overflow-y: auto;
}

.bottom-left::-webkit-scrollbar {
    display: none;
}

.right {
    background-color: #dfdbd8;
    width: 30%; 
    height: 90vh; 
    max-width: 360px;
    padding: 10px;
}

.right::-webkit-scrollbar {
    display: none;
}

.location-container {
    text-align: center;
    margin: 50px auto;
    padding: 20px;
}

.location-container h2 {
    font-size: 32px;
    color: #ff6f00;
    margin-bottom: 20px;
}

.locations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.location {
    background: #fff;
    border-radius: 10px;
    margin: 10px;
    width: 25vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    padding: 15px;
}
.location img {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    transition: transform 0.3s ease-in-out; 
    border-radius: 10px; 
}
.location img:hover {
    transform: scale(1.05); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
    border-radius: 10px; 
}

.location h3 {
    font-size: 20px;
    color: #ff4500;
    margin-bottom: 10px;
}

.location p {
    color: #555;
    font-size: 14px;
    margin-bottom: 15px;
}

.locations a {
    text-decoration: none;
}

.location .btn:hover {
    background: white;
    color: #ff4500;
    border: 1px solid #ff4500;
}
